*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-delay: 250ms;
    transition-duration: 1000ms;
    line-height: 1.5;
    transition: 2s;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

body {
    font-family: 'montserrat';
}

.underline{
    width: 100px;
    background-color: gold;
    height: 2px;
}

h1 {
    font-size: 2.2rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.8rem;
}

h4{
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

p{
    font-size: 1rem;
}